.search {
    position: relative;
    display: flex;
    width: var(--search-width);
    height: var(--search-height);
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: 92px;
    overflow: hidden;
    border: 1.5px solid transparent;

    input {
        flex: 1;
        font-size: 1.6rem;
        background-color: transparent;
        color: var(--black);
        width: 100%;
        height: 100%;
        padding: 12px 40px 12px 12px;
        border: none;
        // cái dấu thẳng khi ta focus vào input
        caret-color: var(--primary);
        font-family: var(--font-family);
    }

    // khi input chứa gì đó bên trong(chữ)
    input:not(:placeholder-shown) ~ .search-btn {
        color: #000;
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        // bằng với kích thước của search
        right: var(--search-btn-width);
        transform: translateY(-50%);
        width: 1px;
        height: calc(var(--search-height) - 18px);
        background-color: rgba(22, 24, 35, 0.12);
    }
}

//tippy
.search-result {
    width: var(--search-width);
}

.search-title {
    padding: 5px 12px;
    font-style: 1.4rem;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
}

.clear,
.loading {
    position: absolute;
    top: 50%;
    // bằng với kích thước của search
    right: calc(var(--search-btn-width) + 16px);
    transform: translateY(-50%);
    font-size: 1.6rem;
    color: rgba(22, 24, 35, 0.34);
}

.loading {
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.search-btn {
    width: var(--search-btn-width);
    height: 100%;
    font-size: 2rem;
    color: #828282;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }
    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}
