.wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contaner{
    width: var(--default-layout-width);
    display: flex;
    padding: 0 var(--default-layout-horizontal-spacer);
}

.content{
    flex: 1;
}